body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    background-color: rgb(228, 228, 228);
}

/*          barra de navegacion       nav    */
nav {
    display: flex;
    background-color: rgb(247, 247, 247);
    width: 100%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    width: 70%;
}

.botonNav {
    /* border: 1px solid red; */
    text-align: center;
    width: 30%;
}
a:link,
a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover {
    /* background-color: rgb(232, 232, 232); */
    transition: background-color 0.5s;
    transform: scale(1.09);
    transition: transform 0.3s;
}

/*           header              */
header {
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-image: url(imagenes/imagen-fondo-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.botonNovedades {
    position: relative;
    bottom: 5%;
    padding: 10px 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonNovedades:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    transform: scale(1.03);
    transition: transform 0.5s;
}

/*            section           */
#imagenLibro {
    width: 100%;
}

#gridContenedor {
    display: grid;
    width: 90%;
    margin: 20px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    column-gap: 50px;
}

.item1 {
    border: 0.1px solid #83838382;
    text-align: center;
    width: 100%;
    height: 100%;
}

.tituloLibro {
    font-weight: bold;
    margin-bottom: 10px;
}

.autorLibro {
    font-size: smaller;
    margin: 10px 0px;
}

.linkLibros:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
    transition: transform 0.5s;
}

/*                 footter             */

footer {
    display: flex;
    background-color: rgb(21, 21, 21);
    color: aliceblue;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.nombreFooter {
    width: 55%;
    margin: 10px;
}

/*          media query            */

@media screen and (max-width: 1280px) {
    #gridContenedor {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
}

@media screen and (max-width: 920px) {
    header {
        height: 20vh;
        background-image: url(imagenes/imagen-fondo-2.jpg);
    }
    #gridContenedor {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .botonNav {
        font-size: 80%;
    }
    .botonNovedades {
        font-size: 70%;
    }
    #gridContenedor {
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
    }
    .botonFooter {
        font-size: 80%;
    }
}
